.container {
  margin: 5px;
}

.col-4 {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-right: 10px;
}

.col-6 {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 45%;
  vertical-align: top;
}

.col-8 {
  display: inline-block;
  width: 66%;
  vertical-align: top;
}

h4 {
  font-weight: 400;
}

.col-4 h4 {
  margin-bottom: 0;
}

form button {
  top: -40px;
  left: 75%;
}

p {
  font-size: 14px;
}

.activity-icon {
  display: inline-block;
  margin: 5px 10px;
}

.activity-icon img {
  width: 25px;
  max-height: 25px;
  margin-right: 10px;
}

.activity-icon span {
  font-size: 0.5em;
  vertical-align: bottom;
}

.recarea-address {
  position: relative;
}

.recarea-address img {
  max-width: 250px;
  vertical-align: top;
  float: right;
}

Chip {
  display: inline-block;
}